<!-- <section class="bg-dark text-white" style="background-image: url(//placehold.it/1200x600); background-position: center center; background-size: cover"> -->
<section class="bg-dark text-white">

    <div class="container text-center py-5">

        <h2 class="h1 my-5" data-aos="fade-down">We are Getting Married</h2>

        <div countdown data-date="{{ tenant.wedding_date|date('M d Y') }} 00:00:00" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 36px" data-days>0</div>
                    <p>Days</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 36px" data-hours>0</div>
                    <p>Hours</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 36px" data-minutes>0</div>
                    <p>Minutes</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 36px" data-seconds>0</div>
                    <p>Seconds</p>
                </div>
            </div>
        </div>

    </div>

</section>
