<section class="py-5" style="background: #F9F5E6;">

    <div class="container text-center py-5 position-relative">

        <div class="d-none d-md-block">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-top-left">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-top-right flip-x">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-bottom-left flip-y">
            <img src="{{ 'assets/images/corner-decor.png'|theme }}" alt="" class="position-absolute corner-bottom-right flip-xy">
        </div>
        
        {% if guest %}
        <div>
            <p class="lead text-primary" style="font-size: 22px;">Dear <strong style="font-weight: 600">{{ guest.name }}</strong>,</p>
            <p class="lead">You are invited to our wedding party!</p>
        </div>
        {% endif %}
        
        <div class="my-4">
            <img src="{{ 'assets/images/top-decor.png'|theme }}" alt="" class="img-fluid my-4" data-aos="zoom-in">
        </div>

        <div class="row text-center align-items-center" data-aos="fade-up">

            <div class="col my-3">
                <img src="{{ 'assets/images/couple-1.jpg'|theme }}" alt="{{ tenant.bride_name }}" class="rounded-circle mb-4 img-fluid" width="240" height="240">
                <h3>
                    <a href="https://instagram.com/{{ tenant.bride_instagram }}" target="_blank">{{ tenant.bride_name|default('Bride Name') }}</a>
                </h3>
                {% if tenant.bride_description %}
                <p><em>{{ tenant.bride_description }}</em></p>
                {% endif %}
                {% if tenant.bride_instagram %}
                <p><a href="https://instagram.com/{{ tenant.bride_instagram }}" target="_blank"><i class="fa fa-instagram fa-fw"></i> @{{ tenant.bride_instagram }}</a></p>
                {% endif %}
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center text-primary lead" style="font-weight: 600; font-size: 4rem;">&</div>
            <div class="col my-3">
                <img src="{{ 'assets/images/couple-2.jpg'|theme }}" alt="{{ tenant.groom_name }}" class="rounded-circle mb-4 img-fluid" width="240" height="240">
                <h3>
                    <a href="https://instagram.com/{{ tenant.groom_instagram }}" target="_blank">{{ tenant.groom_name|default('Groom Name') }}</a>
                </h3>
                {% if tenant.groom_description %}
                <p><em>{{ tenant.groom_description }}</em></p>
                {% endif %}
                {% if tenant.groom_instagram %}
                <p><a href="https://instagram.com/{{ tenant.groom_instagram }}" target="_blank"><i class="fa fa-instagram fa-fw"></i> @{{ tenant.groom_instagram }}</a></p>
                {% endif %}
            </div>
        </div>

        <div class="my-5" data-aos="fade-down" style="font-size: 2rem;"><em>We are getting married</em></div>

        <div class="my-5" countdown data-date="{{ tenant.wedding_date|date('M d Y') }} 00:00:00" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 2rem; font-weight: 600;" data-days>0</div>
                    <p>Days</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 2rem; font-weight: 600;" data-hours>0</div>
                    <p>Hours</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 2rem; font-weight: 600;" data-minutes>0</div>
                    <p>Minutes</p>
                </div>
                <div class="col col-md-2 col-lg-1">
                    <div style="font-size: 2rem; font-weight: 600;" data-seconds>0</div>
                    <p>Seconds</p>
                </div>
            </div>
        </div>

        <img src="{{ 'assets/images/bottom-decor.png'|theme }}" alt="" class="mt-5">

    </div>

</section>
