<section style="background: #F9F5E6;">

    <div class="container text-center py-5">

        <p class="my-4">{{ wedding_details }}</p>

        <div class="row">
            <div class="col-md-1 d-none d-md-flex align-items-center justify-content-center" data-aos="fade-right">
                <img src="{{ 'assets/images/side-decor.svg'|theme }}" alt="">
            </div>

            <div class="col">
                <div class="row mb-4">
                    <div class="col-md" data-aos="fade-up">
                        <img src="{{ 'assets/images/icon-ceremony.svg'|theme }}" alt="" width="48" class="my-4">
                        <h3>Wedding Ceremony</h3>
                        <p>
                            <strong class="text-primary">{{ tenant.wedding_time_start|date('l') }}, {{ tenant.wedding_time_start|date('F j') }}<sup>{{ tenant.wedding_time_start|date('S') }}</sup> {{ tenant.wedding_time_start|date('Y') }}</strong><br>
                            <span>08:00 &mdash; 10:00 WIB</span>
                        </p>
                    </div>
                    <div class="col-md" data-aos="fade-up" data-aos-delay="100">
                        <img src="{{ 'assets/images/icon-reception.svg'|theme }}" alt="" width="48" class="my-4">
                        <h3>Wedding Reception</h3>
                        <p>
                            <strong class="text-primary">{{ tenant.wedding_time_start|date('l') }}, {{ tenant.wedding_time_start|date('F j') }}<sup>{{ tenant.wedding_time_start|date('S') }}</sup> {{ tenant.wedding_time_start|date('Y') }}</strong><br>
                            <span>{{ tenant.wedding_time_start|date('H:i') }} &mdash; {{ tenant.wedding_time_end|date('H:i') }} WIB</span>
                        </p>
                    </div>
                </div>

                <div data-aos="fade-up" data-aos-delay="200">
                    <p>
                        <strong>{{ tenant.wedding_location_name|default('Location Name') }}</strong><br>
                        {{ tenant.wedding_location_address|default('Address...') }}
                    </p>
        
                    <a href="https://goo.gl/maps/X3Rppq3J4dE2" class="btn btn-outline-primary" target="_blank">View Map</a>
                </div>
            </div>
            
            <div class="col-md-1 d-none d-md-flex align-items-center justify-content-center" data-aos="fade-left">
                <img src="{{ 'assets/images/side-decor.svg'|theme }}" alt="" class="flip-x">
            </div>
        </div>

    </div>

</section>
