<section class="bg-dark text-white">

    <div class="container text-center py-5">
        <p class="lead">{{ tenant.title|default('Footer Text Here') }}</p>
        <p>#HarmoniAF</p>
        {# <p class="gla_subtitle" style="margin-top: 0">— {{ tenant.title }}</p> #}
        <p><em>Find out more about our journey by clicking AF symbol</em></p>
    </div>

</section>
