<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand m-auto text-primary h5" href="{{ 'home'|page }}">{{ tenant.title }}</a>
    </div>
</nav>