<section class="hero noshade d-flex align-items-center" data-stellar-background-ratio="0.5">
    <div class="container text-center position-relative py-5">
        <a href="{{ 'home'|page }}">
            <img src="{{ 'assets/images/af-logo.png'|theme }}" alt="{{ tenant.title }}" data-aos="fade-up">
        </a>
        <p class="lead text-uppercase text-spacing" data-aos="fade-up" data-aos-delay="300"><small>The Wedding of</small></p>
        <h1 data-aos="fade-up" data-aos-delay="600">{{ tenant.title }}</h1>

        {% if not nobanners %}
        <div class="swiper-container hero-img" data-aos="fade-up" data-aos-delay="900">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{ 'assets/images/slide-1.jpg'|theme }}" alt="{{ tenant.title }}" class="img-fluid">
                </div>
                <div class="swiper-slide">
                    <img src="{{ 'assets/images/slide-2.jpg'|theme }}" alt="{{ tenant.title }}" class="img-fluid">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% put scripts %}
<script>
    $(function() {
        $.stellar({
            horizontalScrolling: false,
            verticalOffset: 100,
        });

        var mySwiper = new Swiper ('.swiper-container', {
            // Optional parameters
            loop: true,
            effect: 'fade',
            speed: 2000,

            autoplay: {
                delay: 3000,
            },

          })
    });
</script>
{% endput %}