<section style="background: #F9F5E6;">

    <div class="container text-center py-5">
        <h2 class="mb-5">Will You Attend?</h2>

        <div class="invitation-rsvp">
            {% partial 'RSVP::form' %}
        </div>

    </div>

</section>
