<section class="bg-primary">

    <div class="text-center position-relative text-white">

                <div class="row no-gutters" data-aos="fade-up">
                    <div class="col-md">
                        <img src="{{ 'assets/images/journey-1.jpg'|theme }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md text-left py-3 align-items-center d-flex">
                        <div class="px-3 px-md-5 pb-2 line-height-silver">
                            <h3>SMA N 1 Depok, 2007</h3>
                            <p>The very first time we met at this place. There was years ago, started by getting to know each other.</p>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters" data-aos="fade-up">
                    <div class="col-md order-md-12">
                        <img src="{{ 'assets/images/journey-2.jpg'|theme }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md text-left order-md-1 py-3 align-items-center d-flex">
                        <div class="px-3 px-md-5 pb-2 line-height-silver">
                            <h3>Flyover Janti, October 25th 2008</h3>
                            <p>Along this way we told stories, laughed, and finally blushed that there was no denying we became enamoured of each other.</p>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters" data-aos="fade-up">
                    <div class="col-md">
                        <img src="{{ 'assets/images/journey-3.jpg'|theme }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md text-left py-3 align-items-center d-flex">
                        <div class="px-3 px-md-5 pb-2 line-height-silver">
                            <h3>Jogja, July 9th 2016</h3>
                            <p>Our hearts were beating as one, and we were going to tie the knot. Bismillah...</p>
                        </div>
                    </div>
                </div>

    </div>
</section>
