// Custom Variables
//
// You can override the existing bootstrap variables.
// See the available variables at vendor/bootstrap/scss/_variables.scss.


//
// Color system
//

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$gold:    #FADC83;
$brown:   #543C2F;

$primary:       $brown;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

$enable-rounded: false;

$font-family-sans-serif: 'Playfair Display';
$headings-font-weight: 600;
