//
// Hero
//

.hero {
    background: url(../images/bg-pattern-brown.png) repeat $primary;
    position: relative;
    color: $white;
    background-position: center center;
    text-shadow: 0 0 30px rgba(#000, 0.8);

    &:before {
        content: " ";
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: -o-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: -moz-linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));
        background: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.6));

        @include media-breakpoint-up(md) {
            background: -webkit-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: -o-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: -moz-linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
            background: linear-gradient(rgba(#000, 0.1), rgba(#000, 0.3));
        }
    }

    &.noshade {
        &:before {
            display: none;
        }
    }

    a, a:link, a:active {
        color: #fff;
    }

    .hero-img {
        border: 4px solid $gold;
        box-shadow: 0 20px 20px rgba(#000, 0.2);
        margin: 4rem auto;
        position: relative;
        display: block;

        &:before, &:after {
            content: " ";
            position: absolute;
            width: 100%;
            background: url(../images/hero-img-decor.png) center center no-repeat;
            left: 0;
        }

        &:before {
            top: 55px;
        }

        &:after {
            bottom: 55px;
        }
    }
}
